body{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;

}

.game-container{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas:"left right";
    height: 100vh;
    //background: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: rgb(245, 245, 254);
    font-size: 1.5rem;
}

.left-side{
    grid-area: left;
    padding: 0.5rem 2rem;
}

.right-side{
    grid-area: right;
    padding: 6rem 2rem;
    font-size: 2rem;
}

.actions-choice{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rps > img{
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    transition: 0.1s;
}

.rps > img:hover{
    cursor: pointer;
    scale: 120%;
    transition: 0.17s ease;
}

.rps > img:active{
    scale: 113.5%;
    transition: 0.05s ease;
}

.img-container > img{
    width: 10rem;
    height: 10rem;
    margin: 2rem 2rem 0rem 2rem;
    transition: 0.1s;
}

.rps-computer{
    display: flex;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        margin: 0;
    }
}

#reset-btn{
    margin-top: 5rem;
    width: 14rem;
    height: 3rem;
    background-color: rgb(245, 245, 254);
    border: none;
    border-radius: 4rem;
    font-size: 2rem;
    transition: 0.1s;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.385);
    color: rgb(31, 31, 31);
}

#reset-btn:hover{
    background-color: rgb(50, 50, 206);
    transition: 0.1s ease;
    color: rgb(224, 224, 224);
}

#reset-btn:active{
    background-color: rgb(22, 22, 22);
    color: rgb(224, 224, 224);
}

.score{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 11rem;

    *{
        flex: 100%;
    }
}

.anim-container{
    height: 100vh;
    width: 100%;
    //background: linear-gradient(-30deg,#222831,#30475E,#F05454);
    //background: linear-gradient(-30deg, #8f0213, #473c9fc8, #a56016d2);
    background: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-size: 150% 200%;
    animation: color 24s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

